# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript build output
dist/

# Environment variables
.env
.env.local
.env.production

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Prisma
prisma/migrations

# Testing & Coverage
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
